.postpage-container {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  background: #e3ebed;
  border-radius: 20px;
}

.picture-div {
  width: 60%;
}
.picture-div img {
  width: 100%;
}

.info-div {
  width: 30%;
  margin: 30px;
}

.user-info-div {
  display: flex;
  margin: 10px;
  /* justify-content: center; */
  align-content: center;
  text-align: center;
}

.user-info-div h1 {
  margin: auto 10px;
}

.user-info-div div {
  width: 60px;
  height: 60px;
}

.user-info-div div img {
  padding: 1px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 100% 0;
  border: solid;
  border-radius: 100%;
}

.update-button {
  margin-top: 200px;
}
@media screen and (max-width: 500px) {
  .postpage-container {
    flex-direction: column;
    padding: 5px;
  }
  .picture-div {
    margin-top: 20px;
    width: 400px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }
  .update-button {
    margin-top: 0;
  }
  .likes {
    height:50px
  }
  .user-info-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width:200px;
    margin:auto;
  }
  .user-info-div h1 {
    margin: 0;
    
  }

  .top-info {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
  }
  .avatar{
    margin:auto;
  }
  .description-div{
    padding-top:20px;
    margin:auto;
width:340px;
  }
}
