.postformdiv {
  background: #e3ebed;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.container {
  padding: 20px;
}

.postform h1 {
  font-size: 20px;
  font-family: sans-serif;
}

.container form {
  display: flex;
  flex-direction: column;
}


