.gridAndForm{
    display:flex;
    justify-content: space-between;
    margin: 0 30px;
   width:1080px
}

.gridAndForm .gridcontainer {
    width:80%;
    /* border:solid; */
}

.gridAndForm .postcontainer {
    margin-top:100px;
    margin-right: 20px;
    width:200px;
    /* border:solid; */
}
@media screen and (max-width: 500px) {
    .userpage{
        width:400px;
    }
    .gridAndForm {
        justify-content: none;
        flex-direction: column-reverse;
        width:100%;
        margin: 0;
      /* background: blue; */
    }


    
    .gridAndForm .gridcontainer {
        width:100px;
        margin: auto;
        /* border:solid; */
    }

    .gridAndForm .postcontainer {
        margin-top:10px;
        margin-bottom:10px;
        margin-right: 0px;
        width:400px;
 
    }
    .post-button{
        margin:auto
    }
  }
  
