.signupContainer {
  width: 1000px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.buttonContainer {
  width: 350px;
  display: flex;
  border-radius: 5px;
  margin: auto;
  background:#E3EBED;
  border: solid grey;
}
.formContainer {
  margin: 20px auto;
  width: 350px;
  background:#E3EBED;
  border: solid grey;
  border-radius: 5px;
}

.topButton {
  padding: 0;
  border: none;
  background: none;
  width: 50%;
  text-align: center;
}

.selected {
  border-bottom: solid;
  text-align: center;
}
.signupInput {
  margin-top: 20px;
}

.signupheader {
display:none
}

.signupForm {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  font-weight:bold;
  background:white
}
button:hover {
  cursor: pointer;
}
.formButton {
  margin: 20px 0;
  font-weight:bold;
  background:white
}
